<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> THE PARTICULAR BOOK DATA </h1>
    <ul>
        <li>book name -{{book.book_name}}</li>
        <li>book author -{{book.book_author}}</li>
        <li>no of pages -{{book.no_of_pages}}</li>
        <li>publish date -{{book.publish_date}}</li>
        <li>email_id -{{book.email_id}}</li>
        <li>book price -{{book.book_price}}</li>
        
    </ul>
    
</body>
</html>